/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --main-font: 'IBM Plex Mono';
  --button-text-color: #353430;
  --rec-text-color: transparent;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decor-text-color: rgba(53, 52, 48, 1);
}

.theme-light .page {
}